*{
    margin: 0;
    padding: 0;
    font-family: 'open Sans', sans-serif;
}
.Contenedor{
    border: solid 1px black;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    background: #7ef5e6;
}
.Cabecera{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 220px;
    background: #008B99;
    padding: 5px;
    border-radius: 3px;
}
.cabecera_img{
    width: 170px;
    position: absolute;
    left: 10px;
}
.cabecera_h1{
    position: absolute;
    top: 15px;
    left: 185px;
}
.cabecera_frase{
    position: absolute;
    top: 100px;
    left: 185px;
   
}
.nav{
    margin: 10px 10px 0 0;
    position: absolute;
    background: #008B99;
    height: auto;
    width: unset;
    border: none;
    top: 5px;
    left: 700px;
}
.link_1{
    background: #045B62;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.link_2{ 
    background: #045B62;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.link_3{
    background: #045B62;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.Galeria{
    width: 100%;
    height: 400px;
    background: #7ef5e6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Galeria_lienzo{
    width: 600px;
    height: 350px;
    overflow: hidden;
}
.Galeria_contenedor{
    display: flex;
    width: 7000px;
    height: 50px;
    transition: transform 1s ease-in;
    will-change: transform;
}
.Elemento_1:checked~.Galeria_contenedor {
    transform: translateX(0px);
}
.Elemento_2:checked~.Galeria_contenedor {
    transform: translateX(-600px);
}
.Elemento_3:checked~.Galeria_contenedor {
    transform: translateX(-1200px);
}
.Controles{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -26px;
}
label{
    margin: 5px;
    border: solid 3px magenta;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background: #3a9d93;
    display: block;
    cursor: pointer;
}
.Módulos{
    background: #7ef5e6;
    display: grid;
    grid-template: repeat(3, 300px)/ repeat(3, 300px);
    justify-content: center;
    grid-gap: 16px;
    width: 100%;
    height: auto; 
}
.Módulos article{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-flow: wrap;
    border: solid 3px magenta;
    border-radius:15px;
    overflow: hidden;
}
.Módulos img{
    position: relative;
    top: 5px;
    width: 170px;
    height: 100px;
    border-radius: 15px;
}
.Módulos div{
    width: 100%;
    height: 30px;
    background: #008B99;
}
.Módulos h3{
    text-align: center;
    color: #FFFFFF;
}
.Módulos p{
    font: 120% sans-serif;
    text-align: justify;
    padding: 15px;
}

/*******************PIE DE PÁGINA*******************/

.espacio{
    position: relative;
    height: 20px;
}
.piePagina{
    display: flex;
    justify-content: center;
    position: relative;
    height: 105px;
    background: #008B99;
    align-content: center;
}
.piePagina footer{
    text-align: center;
    color: white;
}
.espacio2{
    position: relative;
    height: 10px;
    background: #008B99;
}
/*******************MODO RESPONSIVE*******************/

@media screen and (max-width: 600px){
    .Módulos{
        grid: repeat(3, 300px)/ repeat(1, 300px);
    }
}

@media screen and (max-width: 600px){
.Cabecera{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 155px;
}
.Cabecera figure{
    width: 150px;
    margin: auto;
}
.cabecera_img{
    width: 95px;
    height: 80px;
}
.cabecera_h1{
    position: absolute;
    top: 5px;
    left: 100px;
}
.cabecera_frase{
    position: absolute;
    top: 130px;
    left: 100px;
}
.nav{
    display: none;
}
}